/* BASE DOCUMENT STYLING */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

html,
body {
    margin: 0;
    padding: 0;
    color: #333;
}

hr {
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

blockquote {
    border-color: #1a237e;
}

.no-shadows {
    box-shadow: none!important;
}

/* NAVIGATION STYLING */
.brand-logo img {
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
}

.side-nav img {
    height: 80px;
    margin-top: 10px;
    margin-left: 15px;
    padding: 5px;
}

nav {
    height: 100px;
    line-height: 100px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 100px;
    line-height: 100px;
}

nav .button-collapse i {
    height: 100px;
    line-height: 100px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

nav a,
nav ul a{
    color: #333;
}

/* INDEX STYLING */
.title {
    font-size: 3em;
    margin-bottom: -25px;
}

.cardhover {
    transition: 0.2s;
}

.cardhover:hover {
    opacity: 0.9;
    transition: 0.2s;
}

/* ABOUT STYLING */
.contact-message {
    padding: 0!important;
}

.contact-submit {
    padding: 0 .75rem;
}

/* CANVAS STYLING */
canvas {
    min-height: 250px;
    max-width: 100%;
}

/* MYCOURSES STYLING */
.myc-vimeo {
    background-color: #E5E5E5;
}

.myc-btn {
    width: 100%;
    height: auto;
    min-height: 20px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero {
    margin: 0 auto;
}

/* RESUME STLYING */
.resume-header,
.resume-position {
    font-weight: 700;
}

.resume-header {
    text-transform: uppercase;
}

.resume-date {
    font-style: italic;
    font-weight: 300;
}