/* BASE DOCUMENT STYLING */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.pagewidth {
    width: 80%;
    margin: 0 auto;
}

/* LINK STYLING */
a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: underline;
}

/* NAVIGATION STYLING */
nav {
    margin-top: 20px;
}

.navigation-bar {
    width: 100%;
    height: 100px;
    display: flex;
    line-height: 100px;
    justify-content: space-between;
}

.navigation-logo {
    width: 100px;
    height: 100px;
}

.navigation-image {
    width: 100px;
    height: 100px;
}

.navigation-linkgrouping {
    display: flex;
}

.navigation-link {
    width: 100px;
}