/* Global Changes */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h2 {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
    font-size: 38px;
}

h3 {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
    font-size: 24px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.rit-orange {
    background-color: #E87400;
}

blockquote {
    border-color: #E87400;
}

hr {
    background-color: black;
    opacity: 0.2;
    border-style: none;
    height: 1px;
    width: 70%;
}


/* Navigation */
.nav-logo {
    height: 64px;
    line-height: 64px;
}

.nav-wntt {
    font-size: 24px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    display:inline-block;
    position: relative;
    height: 64px;
    line-height: 64px;
    top: -24px;
    padding-left: 10px;
}

.getinv-nav {
    border: 2px;
    border-color: white;
    border-style: solid;
    margin: 5px;
}


/* Header */
.header-logo {
    width: 225px;
    height: 225px;
    margin: 0 auto;
}

.title {
    font-family: 'Zilla Slab', serif;
    font-size: 64px;
    font-weight: 700;
    color: white;
    margin-top: 0;
}

.header-hr {
    width: 275px;
    height: 4px;
    background-color: white;
    border-style: none;
    opacity: 1;
}

.missionstatement {
    font-size: 32px;
    color: white;
}

.header-cta {
    font-size: 24px;
    color: white;
    font-weight: 300;
}

.down-arrow {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: -25px;
}


/* Main Content */
.contribute {
    position: relative;
    overflow: hidden;
}

.contribute:hover .contrtext {
    text-decoration: underline;
}

.contrtext {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    color: white; 
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    font-size: 16px;
}

.petition-img {
    width: 300px;
    height: 100%;
    padding: 10px;
}

.hashtag {
    color: #E87400;
}