@media (max-width: 992px) {
    .title {
        font-size: 54px;
    }
    
    .missionstatement {
        font-size: 22px;
    }
    
    h2 {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 42px;
    }
    
    .missionstatement {
        font-size: 22px;
    }
    
    h2 {
        font-size: 28px;
    }
}