html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: white;
}

.menubar {
    background-color: rgb(102, 102, 102);
    position: absolute;
    left: -400px;
    top: 505px;
    width: 2200px;
    height: 65px;
    z-index: 2;
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.propic {
    border-radius: 50%;
    border-color: rgb(76, 76, 76);
    background-image: url(propic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 160px;
    top: 161px;
    width: 313px;
    height: 314px;
    z-index: 7;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    transition: 0.5s;
}

.propic:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.name {
    text-align: right;
    font-size: 180px;
    line-height: 180px;
    padding-top: 20px;
    padding-right: 50px;
}

.homebutt {
    background-image: url("home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 628px;
    top: 486px;
    width: 40px;
    height: 40px;
    z-index: 8;
}

.home {
    position: absolute;
    top: 568px;
    left: 538px;
    font-size: 40px;
    -ms-transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    opacity: 0;
    transition: opacity 0.5s;
}

.homebuttlink:hover + .home {
    opacity: 1;
}

.portbutt {
    background-image: url("portfolio.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 764px;
    top: 566px;
    width: 44px;
    height: 44px;
    z-index: 8;
}

.port {
    position: absolute;
    top: 674px;
    left: 633px;
    font-size: 40px;
    -ms-transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    opacity: 0;
    transition: opacity 0.5s;
}

.portbuttlink:hover + .port {
    opacity: 1;
}

.tetebutt {
    background-image: url("tete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 902px;
    top: 646px;
    width: 44px;
    height: 44px;
    z-index: 8;
}

.tete {
    position: absolute;
    top: 750px;
    left: 784px;
    font-size: 40px;
    -ms-transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    opacity: 0;
    transition: opacity 0.5s;
}

.tetebuttlink:hover + .tete {
    opacity: 1;
}